body{
    font-family: 'Epilogue', sans-serif;
}

/*  --- Navigation --- */

header{
    margin: 0em;
}
.custom-toggler.navbar-toggler { 
    border-color: lightgreen; 
}

/* Setting the stroke to green using rgb values (255, 255, 255) */

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.navbar-brand{
    color: #fff;
}
.nav-link:hover, .navbar-brand:hover{
    color: #000;
}
.nav-link{
    margin-left: 0.625em;
    font-weight: 400;
    font-size: 1.125em;
}
.navbar-text{
    font-weight: 400;
    font-size: 1.25em;
    color: #fff;
}
.nav-link span{
   margin-left: 0.3125em;
}

.list-inline-item:not(:last-child){
    margin:0;
}
ul li a{    
    color: 	#fff;
}

/*  --- Personal Info  --- */
.personal-info-item {
   margin-bottom: 2.1875em; 
   display: block;
   clear: both;
}
.personal-info-item .key,
.personal-info-item .value{
    padding-right: 0.3125em;
    display: inline-block;
}
.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;
}
.personal-info-item .key{
    width: 30%;
    margin-right: 0.3125em;
    vertical-align: top;
    font-weight: 500;
}
.personal-info-item .value{
  position: relative;
  width: 60%;
}


/* timeline */

.timeline-item {
    padding: 4em 2em 0em 2em; /* top, right, bottom, left */
    position: relative;
    border-left: 1px solid;
}
.timeline-item p {
    margin: 0;
    padding: 0;
}
.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
.timeline-item:after {
    width:0.75em;
    height: 0.75em;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -7px;
    border-radius: 0.75em;
    content: '';
    background: #000;
}
#history-items{
    margin-bottom: 1.25em;
}
/* iframe video */

iframe{
    border: 0px;
}

/* form */

.center-form{
    padding-top: 0.625em;
    margin: 0 auto;
    max-width: 70%;
}
input[type="submit"]{
    margin: 15px 0px 40px 0px;

}
.contact-text{
    padding-bottom: 0.625em;
}
.col-form-label{
   font-weight: 500;
}

/*  --- style code language images  --- */
.content-section{
    padding-top: 1.25em;
}
.alignimg { 
  display: block;
  margin: 0 auto;
  padding-top: 1.25em;
  
}

/*  --- Footer --- */

footer {
    background-color: #4267b2;
    color: #fafafa;
    min-height: 7.5em;
    margin: 0;
    bottom: 0;
}

.cv-pdf i {
     width: 2em;
    height: 2em;
    padding: 0.75em 0;
    border-radius: 50%;
    font-size: 1.125em;
    line-height: 0.5em;
    text-align: center;
    color: #fafafa;
    background: #4267b2;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    background-color: #fff;
    color: #4267b2; 
}

.social-links {
    padding-bottom: 0.9375em;
}

.social-links li a i {
    width: 2.1875em;
    margin-right: 2.1875em;
    height: 2.1875em;
    padding: 0.75em 0;
    border-radius: 50%;
    font-size: 1.125em;
    line-height: 0.625em;
    text-align: center;
    color: #fafafa;
    background: #4267b2;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fff;
    color:#4267b2;
}

#footer-details {
    padding: 1.875em;
    margin-top: 3.5625em;
}
.general-sub{
    font-family: "Epilogue", sans-serif;
    color: #fff;
}
.inline-block{
    display: inline-block;
}



/* Media Queries */

 /* # Mobile */

@media only screen and (max-width: 768px) {
 
  body {
    font-size: 1.125em;
  }

  .personal-info-item .key{
    width: 25%;
    margin-right: 0.3125em;
}
.personal-info-item .value{
    width: 70%;
}

}

  /* # Tablets/Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px){ 
    footer {
        position: fixed; 
        bottom: 0;
        margin-top: 0.3125em;
        height: 9.375em;
    }
    #footer-details {
        padding: 1.875em;
        margin-top: 3.125em;
   }
    .rick{
        height: 12.5em;
        margin-top: 3.75em;
    }
    .personal-info-text{
        margin-bottom: 1.5em;
    }
    .personal-info-item .value{
         margin-left: 1.25em;
    }
    .personal-info-item .key{
        width: 60%;
    }
}

 /* # Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px){ 
    footer {
        position: fixed; 
        bottom: 0;
        margin-top: 0.3125em;
    }
    #footer-details {
        padding: 1.875em;
        margin-top: 3.125em;
   }
    .center-form{
        padding-top: 1.875em;
        min-height: 15em;
        margin: 0 auto;
        max-width: 50%;
     }

     
} 
          
/* Media Query for Large screens */

@media (min-width: 1281px) { 
      footer {
        position: fixed; 
        bottom: 0;
        margin-top: 0.3125em;
    }
    #footer-details {
        padding: 1.875em;
        margin-top: 3.125em;
   }
    .center-form{
        padding-top: 1.875em;
        min-height: 15em;
        margin: 0 auto;
        max-width: 50%;
     }
     .content-section{
         margin-top: 100px;
     }
     
 } 



